.eksempelapp {
    display: flex;
    flex-direction: column;
    background-color: var(--a-gray-100);
    min-height: 100vh;
    gap: 2rem;

}

.eksempelapp__innhold {
    padding: 1rem;
    max-width: 60rem;

    @media (min-width: 48rem) {
        margin: 0 auto;
    }

}

.navds-body-long {
    margin-bottom: 1rem;
}

.eksempelapp__bjelleikon {
    width: 40px;
    height: 40px;
}

.eksempelapp code {
    white-space: pre;
    color: darkblue;
    overflow: hidden;
}
